<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>231</string>
		<key>macro</key>
		<dict>
			<key>UUPROJECT_MOBILE_CONFIG_URL</key>
			<string>@&quot;https://192.168.1.231:3003/saas/filluuid?uuid=%@&amp;companyCode=%@&quot;</string>
			<key>UUPROJECT_URL</key>
			<string>@&quot;https://192.168.1.231:3002/uusafe&quot;</string>
			<key>UUSSL_CHECK_ENABLED</key>
			<true/>
			<key>UUSSL_CHECK_CERT_LIST</key>
			<string>@&quot;servercert231.cer&quot;</string>
			<key>UUSSL_RELEASED</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>213</string>
		<key>macro</key>
		<dict>
			<key>UUPROJECT_MOBILE_CONFIG_URL</key>
			<string>@&quot;https://192.168.1.213:3003/saas/filluuid?uuid=%@&amp;companyCode=%@&quot;</string>
			<key>UUPROJECT_URL</key>
			<string>@&quot;https://192.168.1.213:3002/uusafe&quot;</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>212</string>
		<key>macro</key>
		<dict>
			<key>UUPROJECT_MOBILE_CONFIG_URL</key>
			<string>@&quot;https://192.168.1.212:3003/saas/filluuid?uuid=%@&amp;companyCode=%@&quot;</string>
			<key>UUPROJECT_URL</key>
			<string>@&quot;https://192.168.1.212:3002/uusafe&quot;</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>120</string>
		<key>macro</key>
		<dict>
			<key>UUPROJECT_MOBILE_CONFIG_URL</key>
			<string>@&quot;https://192.168.1.120:3003/saas/filluuid?uuid=%@&amp;companyCode=%@&quot;</string>
			<key>UUPROJECT_URL</key>
			<string>@&quot;https://192.168.1.120:3002/uusafe&quot;</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>101.201.28.36</string>
		<key>macro</key>
		<dict>
			<key>UUPROJECT_MOBILE_CONFIG_URL</key>
			<string>@&quot;https://101.201.28.36:3003/saas/filluuid?uuid=%@&amp;companyCode=%@&quot;</string>
			<key>UUPROJECT_URL</key>
			<string>@&quot;https://101.201.28.36:3002/uusafe&quot;</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>emm.zhizhangyi.com</string>
		<key>macro</key>
		<dict>
			<key>UUPROJECT_MOBILE_CONFIG_URL</key>
			<string>@&quot;https://register.zhizhangyi.com/saas/filluuid?uuid=%@&amp;companyCode=%@&quot;</string>
			<key>UUPROJECT_URL</key>
			<string>@&quot;https://api.zhizhangyi.com/uusafe&quot;</string>
		</dict>
	</dict>
</array>
</plist>
